<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vuelos Ibarguen</title>
    <link rel="stylesheet" href="./css/bootstrap.min.css">
</head>
<body class="container">
    <header>
<center>
    <h2>Vuelos Ibarguen</h2>
</header>
</body>
</html>