<!DOCTYPE html>
<html lang="en">
<%-include('partials/encabezado.html');%>

<%-include('partials/formulario.html');%>     

<%
if(precio!=0){
    var descuento=0;
    var impuesto=0;
    var pagoTotal=0;

if(tipoViaje==1){
    impuesto= (precio*(16/100));
}
else if(tipoViaje==2){

    precio=(+precio+(+precio*(80/100)));
    impuesto= (precio*(16/100));

}
    
    if(edad>=60){
        pagoTotal=(+precio+(+impuesto)); 
        descuento=(pagoTotal*(50/100));
    }

    pagoTotal=(+precio+(+impuesto))-descuento;
}
%>
<section>
    <center>
    <table class="table table-striped" style="width: 600px; height: 30px; ;">
        <tr>
            <td>No. Boleto:</td>
            <td><%=boleto%></td>
            <td></td>
        </tr>
        <tr>
            <td>Cliente:</td>
            <td><%=cliente%></td>
            <td></td>
        </tr>
        <tr>
            <td>Edad:</td>
            <td><%=edad%></td>
            <td></td>
        </tr>
        <tr>
            <td>Destino:</td>
            <td><%=destino%></td>
            <td></td>
        </tr>
        <tr>
            <td>Tipo de Viaje:</td>
            <td><%=tipoViaje%></td>
            <td></td>
        </tr>
        <tr>
            <td>Precio:</td>
            <td>$<%=precio%></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td style="font-weight: bold; font-size: 20px; ">Importe</td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td>Subtotal:</td>
            <td>$<%=precio%></td>
        </tr>
        <tr>
            <td></td>
            <td>I.V.A 16%:</td>
            <td>$<%=impuesto%></td>
        </tr>
        <tr>
            <td></td>
            <td>Descuento:</td>
            <td>$<%=descuento%></td>
        </tr>
        <tr>
            <td></td>
            <td>Total a Pagar:</td>
            <td>$<%=pagoTotal%></td>
        </tr>

    </table>

       </center>
   </section>
<%-include('partials/piedepagina.html');%>
</body>
<style>
    body{
    margin: 0;
    padding: 0;
    background-color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
header{
    padding: 1px;
    background-color: rgba(211, 211, 211, 0.841);
}
.registros{
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    
}

div{
    margin: 10px;
}
input{
height: 30px;
width: 300px;
font-family: Verdana, Geneva, Tahoma, sans-serif;
font-style: oblique;
margin-top: 10px;
}

label{
    margin-top: 5px;
}
.labels{
    width: 200px;
    flex-wrap: wrap;
}
nav{
    padding: 2%;
}
section{
    background-color: rgb(255, 255, 255);
    padding: 20px;
}
footer{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 20px;
    text-align: center;
    background-color:rgb(185, 244, 244);
}
</style>
<script>
    
function limpiarCampos() {
  document.getElementById("boleto").value = "";
  document.getElementById("destino").value = "";
  document.getElementById("cliente").value = "";
  document.getElementById("precio").value = "";
  document.getElementById("tipoViaje").selectedIndex = 0;
  document.getElementById("precio").value = "";
}

</script>
</html>

