
body{
    margin: 0;
    padding: 0;
    background-color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
header{
    padding: 1px;
    background-color: rgba(211, 211, 211, 0.841);
}
.registros{
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    
}

div{
    margin: 10px;
}
input{
height: 30px;
width: 300px;
font-family: Verdana, Geneva, Tahoma, sans-serif;
font-style: oblique;
margin-top: 10px;
}


.labels{
    padding-top: 10px;
    width: 200px;
    flex-wrap: wrap;
}
nav{
    padding: 2%;
}
section{
    background-color: rgb(255, 255, 255);
    padding: 20px;
}
footer{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 20px;
    text-align: center;
    background-color:rgb(185, 244, 244);
}